<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ces.erp.assetmanagement.biz.dao.EstateDao">
  <resultMap id="BaseResultMap" type="com.ces.erp.assetmanagement.biz.entity.EstateEntity">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="acquire_way" jdbcType="VARCHAR" property="acquireWay" />
    <result column="land_number" jdbcType="VARCHAR" property="landNumber" />
    <result column="land_use" jdbcType="VARCHAR" property="landUse" />
    <result column="land_area" jdbcType="VARCHAR" property="landArea" />
    <result column="building_area" jdbcType="VARCHAR" property="buildingArea" />
    <result column="building_type" jdbcType="VARCHAR" property="buildingType" />
    <result column="building_use" jdbcType="VARCHAR" property="buildingUse" />
    <result column="warrant_number" jdbcType="VARCHAR" property="warrantNumber" />
    <result column="owner" jdbcType="VARCHAR" property="owner" />
    <result column="restriction" jdbcType="VARCHAR" property="restriction" />
    <result column="use_situation" jdbcType="VARCHAR" property="useSituation" />
    <result column="user" jdbcType="VARCHAR" property="user" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_user_id" jdbcType="VARCHAR" property="createUserId" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="delete_user_id" jdbcType="VARCHAR" property="deleteUserId" />
    <result column="delete_user" jdbcType="VARCHAR" property="deleteUser" />
    <result column="delete_time" jdbcType="DATE" property="deleteTime" />
  </resultMap>
</mapper>